@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300;700&display=swap');

 /* Menu css */
.menu-bar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 375px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 51px;
  background-color: #002D40;
  color: white;
  box-sizing: border-box;
  overflow-y: auto;
}

.menu-inner {
  display: flex;
  flex-direction: column;
  width: 279px;
  height: 556.14px;
  gap: 32px;
}

.menu-logo-wrapper {
  font-size: 0;
  display: inline-flex;
  align-items: center;
  width: 279.32px;
  height: 35.14px;
}

.menu-bar-logo-text-bold,
.menu-bar-logo-text-light {
  font-family: 'Anek Bangla', serif;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 2%;
  color: white;
  display: inline-block;
  user-select: none;
}

.menu-bar-logo-text-bold {
  font-weight: 700;
}

.menu-bar-logo-text-light {
  font-weight: 300;
}

.menu-list {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;        
  height: 468px;    
  gap: 37px;         
  box-sizing: border-box;

}



.menu-item-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 37px;
  cursor: pointer;
}

.menu-heading {
  font-family: 'Anek Bangla', serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  user-select: none;
}

.menu-dropdown {
  font-size: 0.7rem;
  margin-left: 8px;
}

.submenu {
  margin-top: 0.5rem;
  padding-left: 34px; 
  list-style: none;  
}

.menu-subitem {
  font-family: 'Anek Bangla', serif;
  font-size: 20px;      
  font-weight: 700;       
  letter-spacing: 2%;     
  color: white;         
  cursor: pointer;
  line-height: 37px;       
  display: block;
  user-select: none;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 92px;
  gap: 12px;
  margin-top: auto;
}


.menu-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  object-fit: contain;
}